body {
    background-color: rgb(2, 2, 74);
}
h1 {
    font-size: 4.5em; /* 40px/16=2.5em */
    color: rgb(243, 156, 107);
  }
  
  h2 {
    font-size: 2.875em; /* 30px/16=1.875em */
    color: rgb(204,151,142);
  }
  
  p {
    font-size: 1.6em; /* 14px/16=0.875em */
    color: #c0bda5;
    justify-content: center;
  }
  
  footer {
    font-size: 1em; /* 16px/16=1em */
    color: rgb(255,56,100);
  }

  nav {
    color: #c0bda5;
   
  }

  a {
    color: #c0bda5;
  }
